[defaults]
inventory = ./inventory/netbox.yml
roles_path = ./roles:./vendor_roles
env_whitelist = NETBOX_API,NETBOX_API_TOKEN
collections_path = ~/.ansible/collections:/usr/share/ansible/collections
host_key_checking = False